@charset "UTF-8";

.container {
	width: 100%;
	height: calc(100vh - 200px);
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 균일한 크기로 3등분 */
	grid-template-rows: repeat(17, 1fr);
	/* 40px로 24등분 -> <main> 영역의 전체 height가 계산된다면 height 지정 후 1fr로 사용하셔도 좋습니다.*/
}

.search {
	grid-column: 1/5; /* 시작column번호 / 끝column번호 */
	grid-row: 1/2; /* 시작row번호 / 끝row번호 */
}

.search-form {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 100%;
	padding:10px;
}

.map-review {
	grid-column: 1/2;
	grid-row: 2/18;
	display: flex;
	flex-direction: column;
	overflow: auto;
	z-index: 3;
	z-index: 3;
	background-color: #fff;
	overflow-x: hidden;
}

.map-review::-webkit-scrollbar {
	width: 10px;
}
.map-review::-webkit-scrollbar-thumb {
	background-color: #ddd;
	border-radius: 10px;
	background-clip: padding-box;
    border: 2px solid transparent;
}
.map-review::-webkit-scrollbar-track {
	background-color: white;
}

body::-webkit-scrollbar {
	display: none;
	
}
.search-option{
	display:flex;
	align-items:center;
}
.eatsMap {
	grid-column: 1/5;
	grid-row: 2/18;
}

.search-form label{
	width:60%;
}
.search-form input {
	border:1px solid #ddd;
	border-radius:5px;
	width: 100%;
	padding: 13px;
}

.search-form .search-btn {
	margin-left:5px;
	border-radius:5px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 13px 20px;
	text-align: center;
	cursor: pointer;
	color: #fa8633;
	font-weight: 900;
}

.search-form .search-btn:hover {
	border: 1px solid #fa8633;
}

.friends {
	position: absolute;
	right: 10px;
}

.category {
	position: absolute;
	right: 10;
}

.search-box {
	width: 30%;
	display:flex;
	align-items:center;
}

.select {
	width: inherit;
	height: inherit;
	background: transparent;
	border: 0 none;
	outline: 0 none;
	padding: 13px;
	position: relative;
	z-index: 3; /*  select가 위로 올라와야 함 */
	font-size: 18px;
}

select option {
	background: #fa8633;
	color: #fff;
	padding: 3px 0;
	font-size: 16px;
}

.select-bar {
	margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

.review_wrap {
	display: flex;
	border-bottom:1px solid #ddd;
	cursor:pointer;
}

.img-box {
	width: 9vw;
	height:9vw;
}

.image-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.eats-tag span {
	display: inline-block;
	background-color: #e7e2df;
	border-radius: 5px;
	font-size:15px;
	padding: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
}

.eats-name {
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}

.title-wrap{
	display: flex;
	justify-content: space-between;
}
.icons{
	margin-top: 11px;
	margin-right: 4px;
}

.info {
	width: 63%;
	padding:10px 20px 20px 20px;
}

.eats-location {
	margin-bottom: 10px;
	font-size:16px;
}

#map {
	width: 100%;
	height: 100%;
}

/* 팝업창 css */
.popup {
	grid-column: 2/5;
	grid-row: 14/17;
	text-align: -webkit-center;
	z-index: 5;
	
}

.popup-wrap {
	width: 50%;
	height: 100%;
	background-color: white;
	border-radius: 8px;
	
}