@charset "UTF-8";
/* 
 * 2021-11-01 SEO.WOOKYUNG
 */

/* notosans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* nanumgothic */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* common */
*{font-family: 'Nanum Gothic', sans-serif; color: #666;}
h2{font-size:32px; padding:0 30px; color:#333; text-align: center; margin-top:50px; margin-bottom:20px; letter-spacing: -1px;}
input::placeholder, textarea::placeholder{color: #aaa;}
.color-m{color: #fa8633;}
:root{--main-color: #fa8633; --hover-color: #ffa54f; --red-color:#f15050; --pink-color: #ff7171;}

/* header */
header{width: 100%; position: fixed; background-color: #fff; z-index: 100; border-bottom: 1px solid #ccc; box-shadow:0px 0px 4px 4px rgb(0 0 0 / 10%);}
.header {max-width: 1300px; min-height:100px; margin: 0 auto; padding: 0 30px; display: flex; justify-content: space-between; align-items: center;}
.header.m{display:none;}
.header h1 > img{display: block; width: 200px; margin-bottom: 5px; cursor: pointer;}

.header .util{display:flex; align-items: center; position:relative;}
.header .util > div{cursor: pointer;}
.btn-review{margin-left: 10px; padding:18px; border-radius: 5px; color: #fff; background-color: #fa8633; font-weight: 700; transition-duration:0.5s;}
.btn-review:hover{background-color: #ffa54f;}
.btn-bell{margin-left: 20px; padding:18px; border-radius: 5px; color: #fff; background-color: #ddd;}
.btn-bell.new{background-color: #f15050; transition-duration:0.5s;}
.btn-bell.new:hover{background-color: #ff7171;}
.btn-bell i{color:#fff;}
.bell-list{position:absolute; top:60px; right:10px; width:260px; border:1px solid #ccc; background-color:#fff; box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.3); display: none;}
.bell-list .bell-list-title{cursor:initial; padding:12px; color:#fa8633; font-weight: 700; text-align:center; border-bottom:1px solid #aaa;}
.bell-list ul li{ font-size:14px; padding:12px; border-bottom:1px solid #eee;}
.bell-list ul li:hover{ background-color:#eee;}
.btn-logout{font-size:15px;}
.gnb li{display: inline-block; cursor:pointer; color:#333; font-size:20px; padding:6px 15px; font-weight: 700; transition-duration:0.3s;}
.gnb li:hover{color:#fa8633;}
.util.m{display:none;}

/* header-member */
.header-member{border: none;}
.header.pc.member, .header.m.member{justify-content: center;}
footer{color:#aaa; font-size:0.8em; padding:30px; text-align:center;}

/* marker */
.marker-wrap{display:flex; align-items: center; flex-direction: column;}
.marker-wrap p{box-shadow:0px 0px 4px 4px rgb(0 0 0 / 10%); font-size:13px !important;background-color:#202028;border-radius:5px;color:#ffad58;padding:8px;margin:0px !important;min-width:50px;text-align:center;}
.marker-wrap > div{background-color:#202028; width:13px; height:13px; transform:rotate(45deg); margin-top:-7px;}

/* popup */
.dimmed-wrap{display:flex; position:fixed; width:100%; height:100vh; top:0; left:0; align-items: center; justify-content:center; z-index:101;}
.dimmed-wrap .dimmed{position:fixed; width:100%; height:100vh; top:0; left:0; background-color: rgba(0, 0, 0, 0.5);}
.dimmed-wrap .close-btn{position: absolute; top: 0px; right: 0px; padding:15px;}
.dimmed-wrap .close-btn i{color:#fff; font-size:30px;opacity: 1; transition-duration: 0.5s;}

.dimmed-wrap .close-btn i:hover{opacity: 0.5;}
.dimmed-wrap .layer-popup{
	width:80%;
	max-width: 600px;
	max-height: 99vh;
	background-color: #fff;
	border-radius:8px;
	box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.4);
	overflow: hidden;
	z-index:102;
}
.dimmed-wrap .layer-popup.review{
	max-width: 900px;
}
.layer-popup .content.view{
	display:flex;
}
.layer-popup .content.view .slide-img-wrap{
	width:60%;
	position: relative;
	overflow: hidden;
}
.layer-popup .content.view .slide-img{
	width:300%;
	display:flex;
	transition-duration:0.5s;
}
.layer-popup .content.view .slide-img img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.layer-popup .content.view .dot-btn{
	position: absolute;
	text-align: center;
	right:0;
	bottom:15px;
	left:0;
}
.layer-popup .content.view .dot-btn .dot{
	width:10px;
	height:10px;
	background-color:rgba(255, 255, 255, 0.5);
	display:inline-block;
	border-radius: 5px;
	margin:0 5px;
}
.layer-popup .content.view .dot-btn .dot.selected{
	background-color:rgba(255, 255, 255, 1);
}
.layer-popup .content.view .slide-btn{
	position: absolute;
	top:0;
	right:15px;
	bottom:0;
	left:15px;
	font-size:36px;
}
.layer-popup .content.view .slide-btn i{
	color:#fff;
	cursor:pointer;
	opacity: 0.5;
	transition-duration: 0.5s;
}
.layer-popup .content.view .slide-btn i.fa-arrow-circle-left{
	display:none;
}
.layer-popup .content.view .slide-btn i.fa-arrow-circle-right{
	float: right;
}
.layer-popup .content.view .slide-btn i:hover{
	opacity: 1;
}
.layer-popup .content.view .info-wrap{
	position: relative;
	width:40%;
	overflow:auto;
}
.layer-popup .content.view .info-wrap::-webkit-scrollbar {
	width: 10px;
}
.layer-popup .content.view .info-wrap::-webkit-scrollbar-thumb {
	background-color: rgba(168, 150, 139, 0.5);
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
.layer-popup .content.view .info-wrap > *{
	border-bottom: 1px solid #eee;
	padding:20px; 
	font-size:15px;
}
.layer-popup .content.view .info-wrap > *:last-child{
	border-bottom: none;
}
.layer-popup .content.view .info-wrap .writer{
	display: flex;
	align-items: center;
}
.layer-popup .content.view .info-wrap .writer a{
	font-weight:700;
	font-size:20px;
	color:#111;
}
.layer-popup .content.view .info-wrap .writer a.follow{
	margin-left: 10px;
	padding:5px;
	background-color:#fa8633;
	color:#fff;
	font-size:13px;
	border-radius: 15px;
	transition-duration:0.5s;
}
.layer-popup .content.view .info-wrap .writer a.unfollow{
	margin-left: 10px;
	padding:5px;
	background-color:#e7e2df;
	color:#fff;
	font-size:13px;
	border-radius: 15px;
	transition-duration:0.5s;
}
.layer-popup .content.view .info-wrap .writer a.follow:hover{
	background-color: #ffa54f;
}
.layer-popup .content.view .info-wrap .writer a.unfollow:hover{
	background-color: #ddd;
}
.layer-popup .content.view .info-wrap .info{
	border-bottom: none;
	padding-bottom: 0px;
}
.layer-popup .content.view .info-wrap .title{
	font-weight:700;
	color:#111;
	letter-spacing: -px;
	margin-bottom: 5px;
}
.layer-popup .content.view .info-wrap .score > div{
	margin-bottom:10px;
}
.layer-popup .content.view .info-wrap .score > div:last-child{
	margin-bottom: 0;
}
.layer-popup .content.view .info-wrap .score p{
	display: inline-block;
	width:60px;
	font-weight: 700;
}
.layer-popup .content.view .info-wrap .score i{color:#aaa;}
.layer-popup .content.view .info-wrap .score i.fas{color:#f15050;}
.layer-popup .content.view .info-wrap .review{line-height: 1.5;}
.layer-popup .content.view .info-wrap .review p{white-space: pre-line; line-height:1.7;}
.layer-popup .content.view .info-wrap .review .tag span{
	display: inline-block;
	font-size:14px;
	background-color:#e7e2df;
	border-radius: 5px;
	padding:3px;
	margin-right:5px;
	margin-bottom:5px;
}
.layer-popup .content.view .view-controller{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.layer-popup .content.view .view-controller span{
	word-break: keep-all;
	text-align: right;
	color:#666;
	font-size: 14px;
}
.layer-popup .content.view .view-controller a{
	margin-left:5px;
}
.layer-popup .content.view .view-controller a i{
	font-size:16px;
	font-weight: 100;
	padding:10px;
	background-color:#e7e2df;
	color:#fff;
	border-radius: 20px;;
	transition-duration: 0.2s;
}
.layer-popup .content.view .view-controller a.clicked i{
	background-color:#fa8633;
}

/* 후기등록 */

.review-upload{width: 100%; overflow:hidden;}
.review-upload .popup-title{text-align: center; border-bottom:1px solid #ddd; font-size:20px; font-weight: 700; color:#333; padding:15px; background-color: #eee;}
.review-upload .frm-review-upload{width:100%;}
.review-upload .upload-contents{padding:20px;}
.review-upload .upload-contents > li{padding:0 20px;}
.review-upload .upload-contents > li p{margin-bottom: 10px;font-size: 15px;line-height: 1.6;}
.review-upload .upload-contents > li p strong{font-size:24px;color:var(--main-color);}
.review-upload .upload-flag{color:red; margin-left:5px; font-weight:bold;}
.review-upload input{width:100%; padding:13px; border-radius:5px; border:1px solid #aaa;}
.review-upload input.hidden{display:none;}
.review-upload .upload-map{margin-top:10px; border-radius:5px; width:100%; height:200px;}
.review-upload .inp-place{position: relative;}
.review-upload .location-list{position:absolute; width:100%; max-height:210px; z-index:10; overflow:auto; border:1px solid #ddd; border-top:none; background-color:#fff; display:none;}
.review-upload .location-list > li{position:relative; padding:13px; cursor:pointer; z-index:11;}
.review-upload .location-list > li:hover{background-color:#eee;}
.review-upload .location-list > li .place-name{font-weight:500;}
.review-upload .location-list > li .road-address-name{font-size:13px; color:#aaa;}

.review-upload .hashtag .radio{margin-bottom:25px;}
.review-upload .hashtag label{
	display: inline-block;
	background-color: #e7e2df;
	border-radius: 5px;
	padding: 10px;
	margin-bottom:8px;
	margin-right:4px;
	margin-left:4px;
	cursor: pointer;
	font-size:15px;
}
.review-upload .hashtag label.checked{background-color:var(--main-color); color:#fff;}
.review-upload .hashtag label input[type="checkbox"],
.review-upload .hashtag label input[type="radio"],
.review-upload .upload-file input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0
}

.review-upload .star-review{padding:0px 15px; border-left:3px solid #ccc;}
.review-upload .star-review > div{display:flex; align-items: center; padding-top:10px;}
.review-upload .star-review > div:last-child{padding-bottom: 10px;}
.review-upload .star-review > div > span{width:60px; display:inline-block;}
.review-upload .star-review > div > i{cursor:pointer;margin-right:2px; font-size:18px; color:#aaa;}
.review-upload .star-review > div > i.fas{color:var(--red-color);}
.review-upload .star-review > div > input{font-weight:700; width:20px; padding:0; border:0; color:var(--red-color); margin-left:5px;}
.review-upload textarea{display:block; margin-top:15px; width:100%; height:100px; border:1px solid #777; resize: none; padding:10px; border-radius:5px; line-height:1.5;}
.review-upload .textarea-count{text-align:right; font-size:12px; margin-top:5px; padding:0 5px;}

.review-upload .upload-box{display:flex; justify-content:space-between;}
.review-upload .upload-box > div{width:32%; position:relative; overflow:hidden;}
.review-upload .upload-box > div label{cursor:pointer; display: block; width:100%; height:166px; line-height:170px; text-align:center; background-color:#eee;}
.review-upload .upload-box > div label i{font-size:30px; color:#aaa; transition-duration:0.5s;}
.review-upload .upload-box > div label:hover i{color:#616176;}
.review-upload .upload-box .preview-photo{display:none; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid #ddd;}
.review-upload .upload-box .preview-photo img{object-fit:cover; width:100%; height:100%;}
.review-upload .upload-box .preview-photo i{display:block; color:#fff; opacity:0.8; position:absolute; top:8px; right:8px; font-size:20px; cursor:pointer;}
.review-upload .upload-box .preview-photo i:hover{opacity:1;}

.review-upload .upload-group > div{padding-right:13px; border-radius:5px; border:1px solid #aaa; overflow:hidden;}
.review-upload .upload-group > .group-box{margin-bottom:20px;}
.review-upload .upload-group select{width:100%; padding:13px; border:none;}

.review-upload .btn-wrap{text-align: center; padding:20px; padding-top:0px;}
.review-upload .btn-wrap > div{color:#aaa; margin-bottom:10px;}
.review-upload .btn-wrap > div > span{font-weight: 700; color:var(--main-color);}
.review-upload .btn-wrap button{min-width:100px; cursor:pointer; border:none; padding:18px; border-radius: 5px; color: #fff; font-weight: 700; transition-duration:0.5s;}
.review-upload .btn-wrap button.next{background-color:var(--main-color);}
.review-upload .btn-wrap button.prev{background-color:#cbc5c2;}
.review-upload .btn-wrap button.next:hover{background-color: #ffa54f;}
.review-upload .btn-wrap button.prev:hover{background-color: #d8d2cf;}

/* make Schedule */

.schedule {
    width: 100%;
    overflow: hidden;
}

.schedule .popup-title {
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 15px;
    background-color: #eee;
}

.schedule-list .list {
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.schedule-list .list span {
    display: inline-block;
    width: 80px;
}

.schedule-list .list input, .schedule-list .list select {
    width: 300px;
    height: 50px;
    padding-left: 10px;
}
.schedule-list .list select{
	font-size: 15px;
}
.schedule .btn-wrap {
    text-align: center;
    padding: 20px;
}

.schedule .btn-wrap button {
    min-width: 100px;
    cursor: pointer;
    border: none;
    padding: 18px;
    margin: 0 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.5s;
}

.schedule .btn-wrap button.submit {
    background-color: var(--main-color);
}

.schedule .btn-wrap .cancel {
    background-color: #cbc5c2;
}

.schedule .btn-wrap button.submit:hover {
    background-color: #ffa54f;
}

.schedule .btn-wrap .cancel:hover {
    background-color: #d8d2cf;
}

.schedule .btn-wrap button.change {
    background-color: var(--main-color);
}

.schedule .btn-wrap button.delete {
    background-color: #cbc5c2;
}

.schedule .btn-wrap button.change:hover {
    background-color: #ffa54f;
}

.schedule .btn-wrap button.delete:hover {
    background-color: #d8d2cf;
}

.layer-popup .schedule{
	max-width: 600px;
}


@media screen and (max-width: 1000px) {

	.header{padding-top: 15px; padding-bottom: 15px;}
	.header.pc{display: none;}
	.header.m{display:block;}
	.header .flex-wrap{display:flex; justify-content: space-between; align-items: center;}
	.gnb{display: flex; justify-content: space-around; margin-top: 15px;}

	/*
	 * .dimmed-wrap .layer-popup{max-width:45vh;}
	 * .layer-popup .content.view .slide-img-wrap, .layer-popup .content.view .info-wrap{width:50%;}
	 */
}

@media screen and (max-width: 768px) {
	.layer-popup .content.view{display:block;}
	.layer-popup .content.view .slide-img-wrap{width:100%; max-height: 45vh;}
	.layer-popup .content.view .info-wrap{width:100%; max-height: 45vh;}
	/*
	 * .dimmed-wrap .layer-popup{max-width:45vh;}
	 * .layer-popup .content.view .slide-img-wrap, .layer-popup .content.view .info-wrap{width:100%; max-width:45vh;}
	 */
	
}