@charset "UTF-8";


.detail-wrap{
	max-width: 1300px;
	margin: 0 auto;
}
.detail-brd{
	display:flex;
	flex-wrap: wrap;
	padding:0 15px;
}
.detail-brd li{
	width:25%;
	padding:15px;
}
.detail-brd .eats-list{
	cursor: pointer;
}
.detail-brd .thum{
	width:100%;
	display: flex;
	align-items: center;
	background-color: #aaa;
	overflow: hidden;
}
.detail-brd .thum img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.detail-brd .eats-like{
	float:right;
	color:#f15050; 
}
.detail-brd .eats-like:hover{
	color: #ccc;
}

.detail-brd .eats-location{
	font-size:14px;
	color: white;
}
.detail-brd .eats-score{
	font-size:14px;
	font-weight: 900;
	color: white;
}
.detail-brd .eats-score i{
	color: #fa8633;
}
.sort-btn-area{
	padding:0 30px;
}

/* 추가css '2'지우면 안됨 */
.thum2 {
  position: relative;
  margin: 0 auto; 
}
.thum2 .info2 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  width: 100%; 
  padding: 14px; 
}

@media screen and (max-width: 1000px) {
    .detail-brd li{
		width:33.3%;
		padding:15px;
	}
}

@media screen and (max-width: 768px) {
    .detail-brd li{
		width:50%;
		padding:15px;
	}
	

}