@charset "UTF-8";

.main-visual{
	height:347px;
	background:url(../img/main/main.png) no-repeat center;
	background-size:cover;
	position:relative;
	text-align:center;
	color:#ffffff;
	line-height:200px;
	background-color:gray;
}

.search-wrap{
	background-color: #eee;
}
.search-area{
	max-width: 1300px;
	padding:25px 30px;
	margin:0 auto;
}
.search-form{
	position: relative;
	border:1px solid #ddd;
	background-color: #fff;
}
.search-form input{
	width:100%;
	padding:20px 40px 20px 140px;
	font-size:16px;
	border: none;
}
.search-form .filter-btn{
	position: absolute;
	top:9px;
	left:9px;
	width:120px;
	border:1px solid #ddd;
	background-color: #fff;
	padding:10px;
	text-align: center;
	cursor: pointer;
}
.search-form .filter-btn:hover{
	border:1px solid #fa8633;
}
.search-form button{
	position: absolute;
	top:0px;
	right:0px;
	padding:18px;
	font-size:22px;
	background-color: transparent;
	border: none;
	float: right;
	cursor: pointer;
}
.search-form .filter-btn i{color: #fa8633;}
.search-form button i{color: #fa8633;}
.filter-menu{
	width:100%;
	display: none;
	padding:20px 30px 10px;
	border:1px solid #ddd;
	border-top:none;
	background-color: #fff;
}
.filter-menu ul{
	display: flex;
}
.filter-menu li{
	width:28%;
	padding-right: 20px;
}
.filter-menu li:first-child{
	width:16%;
}
.filter-menu li span{
	font-size:15px;
	width:70px;
	display: block;
	margin-bottom:10px;
	font-weight: 700;
}
.filter-menu li label{
	display: inline-block;
	background-color: #e7e2df;
	border-radius: 5px;
	padding: 5px;
	margin-bottom:6px;
	margin-right:5px;
	cursor: pointer;
	font-size:15px;
}
.filter-menu li label input[type="checkbox"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0
}
.filter-menu li label.checked{
	background-color: #fa8633;
	color:#fff;
}


.timeline-wrap{
	max-width: 1300px;
	margin: 0 auto;
}
.timeline-brd{
	display:flex;
	flex-wrap: wrap;
	padding:0 15px;
}
.timeline-brd li{
	width:25%;
	padding:15px;
}
.timeline-brd .eats-list{
	cursor: pointer;
}
.timeline-brd .thum{
	width:100%;
	display: flex;
	align-items: center;
	background-color: #eee;
	overflow: hidden;
}
.timeline-brd .thum img{
	width:100%;
	height:100%;
	object-fit:cover;
	transition-duration:0.5s;
}
.eats-list:hover .thum img{
	transform:scale(1.1);
}
.timeline-brd .info{
	padding: 10px;
	position: relative;
}
.timeline-brd .info > div{
	margin-bottom: 5px;
}
.timeline-brd .eats-name{
	color:#333;
	font-size:20px;
	font-weight: 700;
}
.timeline-brd .eats-like{
	float:right;
	color:#aaa;
}
.timeline-brd .eats-like.fas{
	color: #f15050;
}
.timeline-brd .eats-tag{
	max-height:48px;
	font-size:14px;
	overflow: hidden;
}
.timeline-brd .eats-tag span{
	display: inline-block;
	background-color: #e7e2df;
	border-radius: 5px;
	padding: 3px;
	margin-bottom:3px;
	margin-right:3px;
}
.timeline-brd .eats-location{
	font-size:14px;
}
.timeline-brd .eats-score{
	font-size:14px;
	font-weight: 900;
}
.timeline-brd .eats-score i{
	color: #fa8633;
}
.sort-btn-area{
	padding:0 30px;
}

.loading-img{display:flex; position:fixed; top:0; left:0; width:100%; height:100%; align-items:center; justify-content:center; background-color:rgba(255,255,255,0.5); z-index:5000;}
.loading-img.display-none{display:none;}
.loading-img img{width:50px; height:50px; animation:loading 1s infinite;}
@keyframes loading {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

@media screen and (max-width: 1000px) {
    .timeline-brd li{
		width:33.3%;
		padding:15px;
	}
}

@media screen and (max-width: 768px) {
    .timeline-brd li{
		width:50%;
		padding:15px;
	}
}