@charset "UTF-8";
.container-wrap{max-width:1300px; margin:0 auto; padding:30px;}
.container{border-radius: 12px; background-color: #fff; padding: 40px; box-shadow: 0px 20px 80px 0px rgb(153 153 153 / 30%);}

.myeats-tab{display:flex; margin-bottom:30px;}
.myeats-tab > li{width:25%; font-size:18px; padding:15px; border-bottom:2px solid #eee; text-align:center; font-weight:700; cursor:pointer;}
.myeats-tab > li:hover{opacity:0.8;}
.myeats-tab > li.selected{border-bottom:3px solid var(--main-color); color:var(--main-color);}
.myeats-tab > li.selected a{color:var(--main-color);}

.tit-edit-profile{padding-bottom: 10px;}
.profile{
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content:center;
}
.wrap-profile-img{flex:1; align-items: center; display: flex; flex-direction: column; justify-content: space-around;}
.wrap-img{flex:3}
.profile-img{ width:250px; height:250px; overflow:hidden; background-color:#ddd; border-radius:50%;}
.profile-img img{width:100%; height:100%; object-fit:cover;}
.wrap-file{text-align: center; flex:1}
.wrap-form{
  flex:1;
  margin: auto;
}
.edit-profile-form{
  width: 70%;
  margin: auto;
}
input, .btn-cancel, button{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ddd;
}
.btn-edit-profile{
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  display: inline;
}
.btn-edit-profile:hover{
	background-color: var(--hover-color);
}

.edit-profile-form input{
  display: block;
}
label, .valid-msg{
  display: inline-block;
  margin-bottom: 5px;
}

.btn-cancel, button{font-size: 15px; font-weight: 700; cursor: pointer;}
.wrap-nickname{display: flex;}
#nickname{flex: 4;}
#check_nick{flex: 1; margin-left: 5px; border: none; cursor: pointer;}

.wrap-btn{display: flex; margin: 50px 0;}
.wrap-btn button{margin-right:5px; border: none; outline: none; background-color: var(--main-color); color: #fff;}
.wrap-btn button:hover{background-color: var(--hover-color);}
.btn-cancel{text-align: center;background-color: #eee; border: none;}
.btn-cancel:hover,#check_nick:hover{background-color: #ccc; color:#fff;}
.valid-msg{ color:var(--red-color); font-size: 13px; font-weight: 700; padding-left:15px;}

/* 탈퇴 */
.wrap-quit{
  float: right;
}
.quit{
  font-size: 13px;
}
.btn-quit{
  padding: 10px;
  font-size: 13px;
  color: var(--red-color);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .profile{
    flex-direction: column;
  }
  .edit-profile-form{
    width: 100%;
    margin-top: 50px;
  
  }
  .wrap-file{margin-top: 20px;}
}
}