.container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 200px);
}
.box-logo{
}
.box-logo img{
  width: 400px;
  border-radius: 5px;
}

.find-pw-form{
  width: 40%;
}
.tit-find-pw{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.wrap-find-pw{
  width: 100%;
  display: flex;
}
input, button{
  display: block;
  padding: 15px;
  border-radius: 8px; 
  margin: 8px 0;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.034);
}

input{
  flex: 4;

}

button{
  flex: 1;
  background-color: var(--main-color);
  color: #fff;
  min-width: 105px;
  margin-left: 5px;
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: 13px;
  cursor: pointer;
}
button:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

.msg{
  margin-top: 8px;
}

/* member-common */
@media screen and (max-width: 768px)  {
	.box-logo{display: none;}
	.find-pw-form{width: calc(100% - 30px);}
	.box-btn{padding: 30px 0;}
	
}