.container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
.box-logo{
}
.box-logo img{
  width: 400px;
  border-radius: 5px;
}
.line{
  border: 1px solid #ccc;
  height: 400px;

}
.find-pw-form{
  width: 40%;
}
.tit-find-pw{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}
input{
	width: 60%;
}
input, button{
  display: block;
  padding: 15px;
  border-radius: 8px; 
  margin: 8px 0;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.034);
}
button{
  /* width: 40%; */
  background-color: var(--main-color);
  color: #fff;
}
button:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}
.wrap-find-pw{
  display: flex;
}

.btn-tmp-pw{
  min-width: 105px;
  margin-left: 5px;
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: 13px;
  cursor: pointer;
}
.msg{
  margin-top: 8px;
}