@charset "UTF-8";

.content.follow {
  padding-top: 0;
}
.content.follow h3{
	text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 15px;
    background-color: #eee;
}
.layer-popup.follow-list{
  max-width: 400px;
  margin: auto;
}
.wrap-list-follower li, .wrap-list-following li{
	border-bottom:1px solid #eee;
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
}
.wrap-list-follower li a, .wrap-list-following li a{
  font-weight: 700;
}
.wrap-list-follower li > a:nth-child(1), .wrap-list-following li > a:nth-child(1){
  font-size: 19px;
}
.btn-pop {
  margin-left: 10px;
  padding: 5px;
  font-size: 13px;
  border-radius: 15px;
  transition-duration: .5s;
  color: #fff;
}
.btn-pop.unfollow{
  background-color: #e7e2df;
}
.btn-pop.unfollow:hover{
  background-color: #ddd;
}
.btn-pop.follow{
  background-color: var(--main-color);
}
.btn-pop.follow:hover{
  background-color: var(--hover-color);
}