.container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 200px);
}
.box-logo{
}
.box-logo img{
  width: 400px;
  border-radius: 5px;
}
.line{
  border: 1px solid #ccc;
  height: 400px;

}
.join-form{
  width: 40%;
}
.tit-join{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
}
input, button{
  padding: 10px;
  border-radius: 8px;
}
input{
  display: block;
  width: 100%;
  margin: 8px 0;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.034);
}
.wrap-nick{
  display: flex;
}
.btn-chk-nick{
  width: 30%;
  margin-left: 5px;
}
.btn-chk-nick, button{
  border: none;
  box-shadow: none;
  cursor: pointer;
}
button{
  width: 100%;
  margin-top: 15px;
  font-weight: 800;
  background-color: var(--main-color);
  color: #fff;
  font-size: 17px;
  outline: none;
}
button:hover{
  background-color: var(--hover-color); 
}

.btn-chk-nick:hover{
  background-color: #ccc;
  color: #fff;
  /* font-weight: 800; */
}

.err-msg{
	color: var(--red-color);	
	font-size: 13px;
	font-weight: 700;
	margin-left: 10px;
}

/* valid-msg */
.box-valid-msg{
  box-shadow: 0 0 7px var(--main-color);
  border-radius: 5px;
  padding: 10px 17px 10px 10px;
  background-color: #fff;
  position: absolute;
  display: none;
}
.box-valid-msg em{
	display: inline-block;
	width: 20px; height: 20px;
	position: absolute;
	left:30px;
	top:-10px;
	transform : rotate(45deg);
	box-shadow: -3px -3px 3px #ffa44f80;
	background-color: #fff; 
}

.box-valid-msg li{
  font-weight: 700;
}
.valid-msg li{
  line-height: 20px;
  font-size: 13px;
}
.valid-msg li i{
  margin: 0 10px 0 5px;
}
.fas, .far{
  color: #ddd;

}
/* member-common */
@media screen and (max-width: 768px)  {
	.box-logo{display: none;}
	.join-form{width: calc(100% - 30px);}
	.box-btn{padding: 30px 0;}
	
}