.container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 200px);
}
.box-logo{
}
.box-logo img{
  width: 400px;
  border-radius: 5px;
}
.line{
  border: 1px solid #ccc;
  height: 400px;

}
.join-form{
  width: 40%;
}
.tit-login{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
}

input, button, .btn-kakao{
  border-radius: 8px;
}
input{
  display: block;
  padding: 15px;
  width: 100%;
  margin: 8px 0;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.034);
}

button, .btn-kakao{
  width: 100%;
  border: none;
  box-shadow: none;
  height: 50px;
  cursor: pointer;
  background-color: var(--main-color);
  line-height: 50px;
  text-align: center;
}
button, .btn-kakao span{
  font-size: 17px;
  font-weight: 800;
  color: #fff;

}
button{
  margin-top: 15px;
  margin-bottom: 8px;
}
button:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}
.box-btn{
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.box-btn span{
  border: 1px solid #ccc;
  background-color: #ccc;
}
.search-pw, .join, .btn-kakao{
  padding: 0 10px;
  font-size: 13px;
}


.btn-kakao{
  background-color: #FFCD00;
  display: block;
  position: relative;
  margin-bottom: 8px;
}
.btn-kakao img{
  width: 30x;
  height: 30px;
  position: absolute;
  top: 25px;
  left: 28px;
  transform :translate(-50%, -50%);
}
.btn-kakao:hover{
	background-color: #ffdb48;
}
.valid-msg{
	font-weight: 700;
	font-size: 13px;
	color: var(--red-color);
}
/* member-common */
@media screen and (max-width: 768px)  {
	.box-logo{display: none;}
	.login-form{width: calc(100% - 30px);}
	.box-btn{padding: 30px 0;}
	
}
