.container{
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-txt{}

.wrap-logo{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt span{
  color: var(--red-color);
  font-weight: 800;
}
.txt{
  display: block;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.wrap-img{
  margin: 0 auto;
  text-align: center;
}

.wrap-img img{
  width: 200px;
}
